<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <!--
    <h1>Usuarios</h1>

    {{ if .Activo }}
        <p>El usuario esta activo</p>
    {{ else }}
        <p> El usuario no esta activo</p>
    {{end}}

    {{ if (and .Activo .Admin ) }}
        <p> El usuario es Admin</p>
    {{end}}

    <h3>Hola {{.Name}}</h3>
    <p>Edad {{.Edad}}</p>

    Variables
    {{with $valor := "Mi variable"}}
        <p>{{$valor}}</p>
    {{end}}-->

    <h1>Bucles</h1>

    <ul>
        {{ range .Cursos }}
            <li>{{ .Nombre }}</li>
        {{ end }}
    </ul>

</body>
</html>